<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success" type="submit" style="margin: 5px;" (click)="onSubmit()">Save</button>
                    <button class="btn btn-danger" type="button" style="margin: 5px;" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imageurl">Image Path</label>
                        <input type="text" id="imageurl" name="imageurl" class="form-control" formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img [src]="imagePath.value" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea rows="6" type="text" id="description" name="description" class="form-control" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" formArrayName="ingredients">
                    <div class="row" style="margin: 2px 0 2px 0;" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i">
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="ingredintsName" formControlName="name">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="ingredientsValue" formControlName="amount">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" type="button" (click)="onDeleteIngredients(i)">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success" (click)="onAddingredient()"> Add Ingredients</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
